<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="../Plugins/echarts.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="button" id="btnFresh" value="刷新">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="mainCharts" style="height:500px">
                 
            </div>
            <script type="text/javascript">
                //基于准备好的demo，初始化echarts示例
                var mainChart = echarts.init(document.getElementById("mainCharts"), "light");

                //指定图表的配置项和数据
                var option = {
                    title:{
                        text: "ECharts 入门示例"
                    },
                    tooltip:{},
                    legend:{
                        data:['销量'],
                    },
                    xAxis:{
                        data:["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    },
                    yAxis:{},
                    series:[{
                        name:'销量',
                        type:'bar',
                        data:[5,20,36,10,10,20]
                    }]
                };

                //使用刚指定的配置项和数据显示图表
                mainChart.setOption(option);
            </script>
            
        </div>
    </div>
</body>
</html>