<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>分页模板</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>分页模板1</h1>

            <div class="col-xs-6">
                <ul class="pagination">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="active"><a href="#">7</a></li>
                    <li class="disabled"><a href="#">下一页</a></li>
                    <li class="disabled"><a href="#">末页</a></li>
                </ul>
            </div>
            <div class="col-xs-5" style="border: 1px soild black">
                <p>当前页为首页或者末页时，首页和上一页，或末页和下一页不能点击</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-6">
                
            </div>
        </div>
    </div>
    </div>
</body>

</html>